/* FONTS */
/* paddings and margins */
/* COLOURS */
/* global styles */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/majestic\/css\/src\/majestic\.scss}line{font-family:\0000325}}
body {
  font-size: 16px;
  margin-top: 24px;
  margin-bottom: 48px;
  color: #283533; }

/* Page styles */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/majestic\/css\/src\/majestic\.scss}line{font-family:\0000335}}
#majestic_comments h2 {
  font-size: 21px;
  text-align: center;
  text-transform: uppercase; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/majestic\/css\/src\/majestic\.scss}line{font-family:\0000343}}
#majestic_comments p span.normalText {
  color: #B61364;
  font-weight: bold;
  padding-right: 6px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/majestic\/css\/src\/majestic\.scss}line{font-family:\0000348}}
  #majestic_comments p span.normalText.smalltext {
    padding-left: 6px;
    font-size: 14px;
    color: #283533;
    font-weight: normal; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/majestic\/css\/src\/majestic\.scss}line{font-family:\0000358}}
#majestic_comments hr {
  width: 100%;
  margin-top: 30px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/majestic\/css\/src\/majestic\.scss}line{font-family:\0000365}}
#majestic_comments form textarea {
  border: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 12px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/majestic\/css\/src\/majestic\.scss}line{font-family:\0000374}}
#majestic_comments .triangle-left {
  position: relative;
  padding: 24px;
  margin: 24px 0 12px;
  background: #EDF1EE;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/majestic\/css\/src\/majestic\.scss}line{font-family:\0000383}}
  #majestic_comments .triangle-left:after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50px;
    border-width: 20px 0 0 20px;
    border-style: solid;
    border-color: #EDF1EE transparent;
    display: block;
    width: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/majestic\/css\/src\/majestic\.scss}line{font-family:\0000395}}
  #majestic_comments .triangle-left.top {
    background: #EDF1EE; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/majestic\/css\/src\/majestic\.scss}line{font-family:\0000398}}
    #majestic_comments .triangle-left.top:after {
      top: -20px;
      left: 50px;
      bottom: auto;
      right: auto;
      border-width: 20px 0 0 20px;
      border-color: transparent #EDF1EE; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/majestic\/css\/src\/majestic\.scss}line{font-family:\00003109}}
  #majestic_comments .triangle-left.fortextarea {
    padding: 2px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/majestic\/css\/src\/majestic\.scss}line{font-family:\00003114}}
#majestic_comments .margin36 {
  margin-top: 36px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/majestic\/css\/src\/majestic\.scss}line{font-family:\00003118}}
#majestic_comments .margin48 {
  margin-top: 48px; }

/* media queries */
@media screen and (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/majestic\/css\/src\/majestic\.scss}line{font-family:\00003128}}
  #majestic_comments .fullwidthmobile {
    width: 100%;
    display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/majestic\/css\/src\/majestic\.scss}line{font-family:\00003133}}
  #majestic_comments .margin48 {
    margin-top: 6px; } }
/* bootstrap overrides  */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/majestic\/css\/src\/majestic\.scss}line{font-family:\00003141}}
.btn-primary,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  color: #FFFFFF;
  background-color: #B61364;
  border-color: #B61364;
  text-transform: uppercase; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/majestic\/css\/src\/majestic\.scss}line{font-family:\00003150}}
  .btn-primary span,
  .btn-primary:focus span,
  .btn-primary:active span,
  .btn-primary.active span {
    padding: 6px 24px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/majestic\/css\/src\/majestic\.scss}line{font-family:\00003154}}
  .btn-primary:hover,
  .btn-primary:focus:hover,
  .btn-primary:active:hover,
  .btn-primary.active:hover {
    background-color: #D4B9C5;
    border-color: #D4B9C5; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/majestic\/css\/src\/majestic\.scss}line{font-family:\00003160}}
.btn-secondary,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #B61364;
  background-color: #FFFFFF;
  border-color: #B61364;
  text-transform: uppercase; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/majestic\/css\/src\/majestic\.scss}line{font-family:\00003169}}
  .btn-secondary span,
  .btn-secondary:focus span,
  .btn-secondary:active span,
  .btn-secondary.active span {
    padding: 6px 24px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/majestic\/css\/src\/majestic\.scss}line{font-family:\00003173}}
  .btn-secondary:hover,
  .btn-secondary:focus:hover,
  .btn-secondary:active:hover,
  .btn-secondary.active:hover {
    background-color: #D4B9C5;
    border-color: #D4B9C5; }

/*# sourceMappingURL=majestic.css.map */
