/* FONTS */		
    $font_size:					16px;
    $font_size_small:				14px;
    $font_size_heading:				21px;

/* paddings and margins */

    $space6:         6px; 
    $space12:        12px; 
    $space24:        24px; 
    $space36:        36px; 
    $space48:        48px;
    
/* COLOURS */	

    $pink:          #B61364; 
    $pale_pink:     #D4B9C5; 
    $grey:    #EDF1EE; 
    $dark_grey:     #283533; 
    $light_grey:    #283533; 
    $white:	    #FFFFFF;

    /* global styles */
    
    body {
        font-size: $font_size;
        margin-top: $space24;
        margin-bottom: $space48;
        color: $dark_grey;
    }
    
    /* Page styles */
    
    #majestic_comments {
        h2 {
            font-size: $font_size_heading;
            text-align: center;
            text-transform: uppercase;
        }
        
        p {
            span {
                &.normalText {
                    color: $pink;
                    font-weight: bold;
                    padding-right: $space6;

                    &.smalltext {
                        padding-left: $space6;
                        font-size: $font_size_small;
                        color: $dark_grey;
                        font-weight: normal;
                    }
                }
            }
        }
        
        hr {
            width:100%;
            margin-top: 30px;
        }
        
        form {

            textarea {
                border:none;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                border-radius: 10px;  
                padding:$space12;
            }
        }   
        
        .triangle-left {
            position: relative;
            padding: $space24;
            margin: $space24 0 $space12;
            background: $grey;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;

            &:after {
                content: "";
                position: absolute;
                bottom: -20px;
                left: 50px;
                border-width: 20px 0 0 20px;
                border-style: solid;
                border-color: $grey transparent;
                display: block;
                width: 0;
            }    
            
            &.top {
                background: $grey;
                
                &:after {
                    top: -20px;
                    left: 50px;
                    bottom: auto;
                    right: auto;
                    border-width: 20px 0 0 20px;
                    border-color: transparent $grey;
                }    
               
            }    

            &.fortextarea {
                padding: 2px;
            }
        }
        
        .margin36 {
            margin-top:$space36;
        }
 
        .margin48 {
            margin-top:$space48;
        }        
        
    }
  
    /* media queries */
    
    @media screen and (max-width:480px) {
       #majestic_comments {
            .fullwidthmobile { 
                width: 100%; 
                display:block; 
            }

             .margin48 {
                 margin-top:$space6;
             }         
        }
    }            
    
    /* bootstrap overrides  */

    .btn-primary,
    .btn-primary:focus,
    .btn-primary:active,
    .btn-primary.active {
      color: $white;
      background-color: $pink;
      border-color: $pink;
      text-transform: uppercase;
      
      span {
          padding: $space6 $space24;
      }
      
      &:hover {
         background-color: $pale_pink; 
         border-color: $pale_pink;
      }
    }
    
    .btn-secondary,
    .btn-secondary:focus,
    .btn-secondary:active,
    .btn-secondary.active {
      color: $pink;
      background-color: $white;
      border-color: $pink;
      text-transform: uppercase;
      
      span {
          padding: $space6 $space24;
      }
      
      &:hover {
         background-color: $pale_pink; 
         border-color: $pale_pink;
      }
    }    